<template>
  <v-snackbar
      :timeout="timeout"
      :color="color"
      :top="y === 'top'"
      :bottom="y === 'bottom'"
      :right="x === 'right'"
      :left="x === 'left'"
      :multi-line="mode === 'multi-line'"
      :vertical="mode === 'vertical'"
      v-model="showSnackbar"
    >
      {{ text }}
      <!-- <v-btn flat icon dark @click.native="showSnackbar = false">
        <v-icon>close</v-icon>
      </v-btn> -->
    </v-snackbar>
</template>
<script>
  export default {
    props: {
      isShow: {
        type: Boolean,
        default: false
      },
      text: {
        type: String,
        default: ""
      },
      timeout: {
        type: Number,
        default: 3000
      },
      color: {
        type: String,
        default: 'white'
      },
      x: {
        type: String,
        default: 'none'
      },
      y: {
        type: String,
        default: 'top'
      },
      mode: {
        type: String,
        default: 'none'
      }
    },
    computed: {
      showSnackbar: {
        get() {
          return this.isShow
        },
        set(val) {
          // nothing
        }
      }
    }
  };
</script>


<style lang="stylus">
  #appDrawer
    overflow: hidden
    .drawer-menu--scroll
      height: calc(100vh - 48px)
      overflow: auto

</style>
