<template>
  <v-app id="login" class="primary">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4 lg4>
            <v-card class="elevation-1 pa-3">
              <v-card-text>
                <div class="layout column align-center">
                  <img src="~/assets/img/app.png" alt="Aquila" width="120">
                  <h1 class="flex my-4 primary--text">{{ appTitle }}</h1>
                </div>
                <v-form @keyup.native.enter="checkForm">
                  <v-text-field append-icon="person" name="login" label="Login" type="text"
                                v-model="model.username"></v-text-field>
                  <v-text-field append-icon="lock" name="password" label="Password" id="password" type="password"
                                v-model="model.password"></v-text-field>
                </v-form>
                <div v-if="error" >
                  <p class="redDarken3--text">{{ error.message }}<br />{{ error.details }}</p>
                </div>
              </v-card-text>
              <v-card-actions>
                <v-btn icon>
                  <v-icon color="red">fa fa-google fa-lg</v-icon>
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn block color="primary" @click="login" :loading="loading" :disabled="model.username.length <= 0 || model.password.length <= 0">Login</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  import { mapActions } from 'vuex'

  export default {
    layout: 'default',
    middleware: 'redirected',
    data: () => ({
      loading: false,
      error: false,
      model: {
        username: '',
        password: ''
      }
    }),

    computed: {
      appTitle() {
        return process.env.APP_TITLE
      }
    },

    methods: {
      ...mapActions({
        postLogin: 'user/postLogin',
        setLoginInfo: 'user/setLoginInfo',
        setCookies: 'user/setCookies'
      }),
      checkForm() {
        if (this.model.username.length > 0 && this.model.password.length > 0) {
          this.login()
        }
      },
      async login() {
        this.error = false
        this.loading = true;

        let param = {
          username: this.model.username,
          password: this.model.password
        }

        const postLoginResult = await this.postLogin(param)

        // success
        if (!postLoginResult.error) {
          // set data login
          param = {
            username: this.model.username,
            accessToken: postLoginResult.data.access_token,
            refreshToken: postLoginResult.data.refresh_token,
            expired: postLoginResult.data.expired,
            isLogin: true
          }

          // process it
          await this.setLoginInfo(param)

          await this.setCookies()

          this.$router.push('/home');
        } else {
          // error message
          const { message, details } = postLoginResult.error
          this.error = { message, details }
        }

        this.loading = false;
      }
    },
    head() {
      return {
        title: 'Login',
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          {
            hid: 'login_description',
            name: 'description',
            content: 'login page aquila'
          },
          {
            hid: 'login_keywords',
            name: 'keywords',
            content: 'login, aquila, bsa'
          }
        ]
      }
    },

  };
</script>
<style scoped lang="css">
  #login {
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    z-index: 0;
  }
</style>
