<template>
    
</template>

<script>
    export default {
      async fetch({ store, redirect })
      {
        await store.dispatch('user/doLogout')
        redirect('/login')
      }
    }
</script>

<style scoped>

</style>
