<template>
  <div id="pageRoles">
    <v-container grid-list-xl fluid>
      <v-layout row wrap>
        <v-flex sm12>
          <v-btn color="info" @click="goToAddPage">Add New</v-btn>
        </v-flex>
        <v-flex lg12>
          <v-card>
            <v-toolbar card color="white">
              <v-text-field
                flat
                solo
                prepend-icon="search"
                placeholder="Type something"
                v-model="search"
                hide-details
                class="hidden-sm-and-down"
              ></v-text-field>
              <v-btn icon>
                <v-icon>filter_list</v-icon>
              </v-btn>
            </v-toolbar>
            <v-divider></v-divider>
            <v-card-text class="pa-0">
              <v-data-table
                :headers="dataTable.headers"
                :search="search"
                :items="dataTable.items"
                :rows-per-page-items="[10,25,50,{text:'All','value':-1}]"
                class="elevation-1"
                item-key="name"
                select-all
                v-model="dataTable.selected"
              >
                <template slot="items" slot-scope="props">
                  <td>
                    <v-checkbox
                      primary
                      hide-details
                      v-model="props.selected"
                    ></v-checkbox>
                  </td>
                  <td>{{ props.item.name }}</td>
                  <td>{{ props.item.displayName }}</td>
                  <td>
                    <v-btn color="gray" disabled small v-for="(option, idx) in props.item.permissions" :key="idx">
                      {{ getDisplayName(option) }}
                    </v-btn>
                  </td>
                  <td>{{ props.item.description !== null ? props.item.description : '-' }}</td>
                  <td>
                    <v-btn depressed outline icon fab dark color="primary" small @click="() => goToDetail(props.item)">
                      <v-icon>edit</v-icon>
                    </v-btn>
                    <v-btn depressed outline icon fab dark color="pink" small @click="() => deleteItem(props.item)" :loading="deleteProcess">
                      <v-icon>delete</v-icon>
                    </v-btn>
                  </td>
                </template>
              </v-data-table>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
    <Snackbar :is-show="snackbar.show" :text="snackbar.text" :color="snackbar.color" />
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex'

  import Snackbar from '@/components/Snackbar'
  
  export default {
    layout: 'dashboard',
    middleware: 'authenticated',
    components: {
      Snackbar
    },
    data: () => ({
      search: '',
      dataTable: {
        selected: [],
        headers: [
          {
            text: 'Role Name',
            value: 'name'
          },
          {
            text: 'Display Name',
            value: 'displayName'
          },
          {
            text: 'Permissions',
            value: 'grantedPermissions'
          },
          {
            text: 'Description',
            value: 'description'
          },
          {
            text: 'Action',
            value: ''
          }
        ],
        items: []
      },
      permissions: [],
      snackbar: {
        show: false,
        text: '',
        color: 'red'
      },
      deleteProcess: false
    }),
    computed: {
      ...mapState({
        token: state => state.user.accessToken
      })
    },
    methods: {
      ...mapActions({
        getAllRoles: 'settings_roles/getAllRoles',
        getAllPermissions: 'settings_roles/getAllPermissions',
        deleteRole: 'settings_roles/deleteRole'
      }),
      async getData() {
        // get all roles data
        const get = await this.getAllRoles({ token: this.token })

        // success
        if (!get.error) {
          this.dataTable.items = get.data
        } else {
          // nothing..
        }
      },
      async getPermissions() {
        // get all permissions data
        const get = await this.getAllPermissions({ token: this.token })

        // success
        if (!get.error) {
          this.permissions = get.data
        } else {
          // nothing..
        }
      },
      getDisplayName(roleName) {
        return this.permissions.filter(item => item.name == roleName)[0].displayName
      },
      goToAddPage() {
        this.$router.push('/settings/roles/add')
      },
      goToDetail(item) {
        const { id } = item
        
        this.$router.push(`/settings/roles/edit/${id}`)
      },
      async deleteItem(item) {
        this.deleteProcess = true

        const { id, displayName } = item

        const param = {
          token: this.token,
          id
        }
        const process = await this.deleteRole(param)

        if (!process.error) {
          this.snackbar.show = true
          this.snackbar.text = `Data "${displayName}" berhasil dihapus`

          this.getData()
        }

        this.deleteProcess = false
      }
    },
    async mounted() {
      await this.getPermissions()
      await this.getData()
    }
  };
</script>
