<template>
  <div id="pageAddRoles">
    <v-container grid-list-xl fluid>
      <v-card>
          <v-toolbar color="indigo" dark flat dense cad>
            <v-toolbar-title class="subheading">Roles Form</v-toolbar-title>
            <v-spacer></v-spacer>
          </v-toolbar>
          <v-divider></v-divider>
          <v-card-text class="">

            <v-form v-model="valid">
              <div class="d-flex my-2">
                <v-text-field
                  label="Role Name"
                  v-validate="'required'"
                  data-vv-name="name"
                  :error-messages="errors.collect('name')"
                  v-model="form.name"
                  required
                ></v-text-field>
              </div>
              <div class="d-flex my-2">
                <v-text-field
                  label="Display Name"
                  v-model="form.displayName"
                  v-validate="'required'"
                  data-vv-name="displayName"      
                  :error-messages="errors.collect('displayName')"  
                  required
                ></v-text-field>
              </div>

              <v-flex lg12 sm12>
                <v-textarea 
                  textarea 
                  label="Description"
                  v-model="form.description"
                  data-vv-name="description" 
                  
                >

                </v-textarea>
              </v-flex>

              <v-spacer></v-spacer>

              <v-flex xs12>
                <v-subheader class="pa-0">Permissions</v-subheader>
              </v-flex>
              <div class="mb-40">
                <v-flex v-for="(item, id) in permissions" :key="id" xs12 sm4 md4>
                  <v-checkbox
                    :label="item.displayName"
                    v-model="selectedPermissions"
                    color="blue"
                    :value="item.name"
                    hide-details
                  ></v-checkbox>
                </v-flex>
              </div>

              <v-spacer></v-spacer>

              <div class="form-btn">
                <v-btn outline @click="submit" color="primary" :disabled="loadingProcess" :loading="loadingProcess">Submit</v-btn>
                <v-btn outline @click="clear" :disabled="loadingProcess">Clear</v-btn>
              </div>
            </v-form>

          </v-card-text>
      </v-card>
    </v-container>
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex'
  
  export default {
    layout: 'dashboard',
    middleware: 'authenticated',
    components: {},
    data: () => ({
      loadingProcess: false,
      valid: true,
      permissions: [],
      selectedPermissions: [],
      form: {}
    }),
    computed: {
      ...mapState({
        token: state => state.user.accessToken
      })
    },
    async mounted() {
      console.warn(this.$route.params.id)

      const id = this.$route.params.id

      if (id === undefined) { this.$route.replace('/settings/roles') }

      await this.getDetail(id)

      await this.getPermissions()
    },
    methods: {
      ...mapActions({
        getDetailRole: 'settings_roles/getDetailRole',
        getAllPermissions: 'settings_roles/getAllPermissions',
        createRole: 'settings_roles/createRole'
      }),
      async getDetail(id) {
        const param = {
          token: this.token,
          id
        }

        const get = await this.getDetailRole(param)

        // success
        if (!get.error) {
          this.form = get.data

          this.selectedPermissions = get.data.permissions
        } else {
          // nothing..
        }
      },
      async getPermissions() {
        // get all roles data
        const get = await this.getAllPermissions({ token: this.token })

        // success
        if (!get.error) {
          this.permissions = get.data
        } else {
          // nothing..
        }
      },
      async submit () {
        this.loadingProcess = true

        const validate = await this.$validator.validateAll();

        if (validate) {
          // send to BE
          const param = {
            token: this.token,
            name: this.form.name,
            displayName: this.form.displayName,
            description: this.form.description,
            grantedPermissions: this.selectedPermissions
          }
          const process = await this.createRole(param)

          if (!process.error) {
            this.$router.replace('/settings/roles')
          }
        }

        this.loadingProcess = false
      },
      clear () {
        this.form = {};
        this.$validator.reset();
      }
    }
  };
</script>

<style scoped>
  .mb-40 {
    margin-bottom: 40px !important;
  }
</style>
