<template>
  <div id="pageDashboard">
    <v-container grid-list-xl fluid>
      <h4>
        <i class="fa fa-smile-o"></i>
        Selamat Datang, {{ username }}
      </h4>
      
    </v-container>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  
  export default {
    layout: 'dashboard',
    middleware: 'authenticated',
    components: {},
    data: () => ({}),
    computed: {
      ...mapState({
        username: state => state.user.username
      })
    },
  };
</script>
